
[gcode_macro PROBE_ATTACH_CHECK_NOW]
variable_attached_default: "PROBE_ATTACH_CHECK_ACTION_ATTACHED"
variable_detached_default: "PROBE_ATTACH_CHECK_ACTION_DETACHED"
variable_attached: "PROBE_ATTACH_CHECK_ACTION_ATTACHED"
variable_detached: "PROBE_ATTACH_CHECK_ACTION_DETACHED"
gcode:
  M118 Probe check now variable storage

[gcode_macro PROBE_ATTACH_CHECK_ACTION_ATTACHED]
gcode:
  RESPOND PREFIX="info" MSG="Probe > attached!"

[gcode_macro PROBE_ATTACH_CHECK_ACTION_DETACHED]
gcode:
  RESPOND PREFIX="info" MSG="Probe > detached!"

[gcode_macro PROBE_ATTACH_CHECK]
gcode:
  RESPOND PREFIX="info" MSG="Probe > Checking attachment status..." 
  ## set what action to run at then end of probe_check
  {% if params.ATTACHED is defined %}
    SET_GCODE_VARIABLE MACRO=PROBE_ATTACH_CHECK_NOW VARIABLE=attached VALUE="{params.ATTACHED|string}"
  {% else %}
    SET_GCODE_VARIABLE MACRO=PROBE_ATTACH_CHECK_NOW VARIABLE=attached VALUE="'{printer['gcode_macro PROBE_ATTACH_CHECK_NOW'].attached_default|string}'"
  {% endif %}
  {% if params.DETACHED is defined %}
    SET_GCODE_VARIABLE MACRO=PROBE_ATTACH_CHECK_NOW VARIABLE=detached VALUE="{params.DETACHED|string}"
  {% else %}
    SET_GCODE_VARIABLE MACRO=PROBE_ATTACH_CHECK_NOW VARIABLE=detached VALUE="'{printer['gcode_macro PROBE_ATTACH_CHECK_NOW'].detached_default|string}'"
  {% endif %}
  ## query endstops to refresh state
  QUERY_ENDSTOPS
  ## next part
  PROBE_ATTACH_CHECK_STAGE_CHECK_ENDSTOP

[gcode_macro PROBE_ATTACH_CHECK_STAGE_CHECK_ENDSTOP]
gcode:
  {% if printer.query_endstops.last_query['z']==1 %}
    ## either tripped or not attached
    {% if printer['gcode_macro HOMING_STATUS'].x|int != 1 %}
      RESPOND PREFIX="info" MSG="Home > Fake homing Z so it can move down prior to check if probe is attached"
      REAL_SET_KINEMATIC_POSITION Z=0
    {% endif %}
    RESPOND PREFIX="info" MSG="Home > Moving up {printer.config.probe.} mm before homing"
    G91
    G0 Z{printer['gcode_macro HOMING_CONFIG'].start_zhop|int}
    G90
  {% else %}
    ## attached
    {printer['gcode_macro PROBE_ATTACH_CHECK_NOW'].detached}
  {% endif %}
  

